<a href="https://colab.research.google.com/github/AJJAMPUR-Amogh/Assignment/blob/main/Python_Assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

numbers = [12, 75, 150, 180, 145, 525, 50]

In [2]:
numbers = [12, 75, 150, 180, 145, 525, 50]
max(numbers)

525

 Q2. Print all the even number between (1, 12).

In [5]:
for i in range(1,13) :
  print(i, end = '  ')

1  2  3  4  5  6  7  8  9  10  11  12

Q3. Calculate the sum of all numbers from 1 to a given number

In [8]:
N = int(input('Enter the number to find AP of a number'))
sum = 0
for i in range(1,N+1) :
  sum = sum + i
print(sum)

Enter the number to find AP of a number10
55

Q4. Write a program to display only those numbers from a list that satisfy the  following conditions

  The number must be divisible by five

  If the number is greater than 150, then skip it and move to the next number

  If the number is greater than 500, then stop the loop

In [12]:
numbers = [12, 75, 150, 180, 145, 525, 50]
disp = []
for N in num :
  if N%5 == 0 and N <= 150 :
    disp.append(N)
    if N > 150 and N< 500 :
      continue 
    elif N > 500 :
      break
print('List of numbers', num)
print("List of numbers with conditions above",disp)

List of numbers [1, 25, 32, 60, 99, 150, 250, 697, 350]
List of numbers with conditions above [25, 60, 150]

Q5. Print the given list in reverse order.
```
list1 = [10, 20, 30, 40, 50]
```

In [15]:
list1 = [10, 20, 30, 40, 50]
print('The reversed list')
list1[::-1]

The reversed list

[50, 40, 30, 20, 10]