<a href="https://colab.research.google.com/github/AJJAMPUR-Amogh/Assignment/blob/main/Python_Assignment_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [3]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
amazon_website[0][1]
print('The products availalble are:')
for i in amazon_website :
   print(f'A {i[0]} costs {i[1]} rupees')
done = True 
total_sum = 0

while done : 
  choice = input('Enter the product you want to buy ')
  if choice == 'watch' :
    quantity = int(input('How many quantity is needed'))
    a,b = amazon_website[0]
    total_sum = total_sum + quantity*b
  elif choice == 'phone' :
    quantity = int(input('How many quantity is needed'))
    a,b = amazon_website[1]
    total_sum = total_sum + quantity*b
  elif choice == 'laptop' :
    quantity = int(input('How many quantity is needed'))
    a,b = amazon_website[2]
    total_sum = total_sum + quantity*b
  elif choice == 'shirt' :
    quantity = int(input('How many quantity is needed'))
    a,b = amazon_website[3]
    total_sum = total_sum + quantity*b
  elif choice != ['watch','phone','laptop','shirt'] :
    print('The items you chose is out of stock!')
    print('Please choose in the list above')
  
  end = input('DO you want to add any other items (Y/N)')
  if end == 'Y' :
    print('please do the choice')
  elif end == 'N':
    done = False
    print('Thank you for shoping in amazon')
    print(f'The total amount to be paid is {total_sum}')

The products availalble are:
A watch costs 5000 rupees
A phone costs 10000 rupees
A laptop costs 50000 rupees
A shirt costs 1000 rupees
Enter the product you want to buy sksdvfkgkl]
The items you chose is out of stock!
Please choose in the list above
DO you want to add any other items (Y/N)N
Thank you for shoping in amazon
The total amount to be paid is 0

In [ ]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
a,b = amazon_website[1]
b

10000

### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

In this program we are reassigning the list arr to new values. starting from 0 to 5 we assign the value of next index to the previous index. we are moving a value to previous index.

### 3  Write a Python program to find the repeated items of a tuple.

In [ ]:

tup = ( 36, 45,85,55,6,22,6,4,99,6)
set1 = set(tup) 

for items in set1 :
  print(f'The {items} is repeated {tup.count(items)} of times')

The 99 is repeated 1 of times
The 36 is repeated 1 of times
The 4 is repeated 1 of times
The 6 is repeated 3 of times
The 45 is repeated 1 of times
The 85 is repeated 1 of times
The 22 is repeated 1 of times
The 55 is repeated 1 of times

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [ ]:

list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([x[:-1] + (500,) for x in l])

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]