# Questions

ASSIGNMENTS - NOT compulsory but usefull!!
 I am not at loss if you don't submit
send the mail to 
 send it before 0000 hrs IST | 12 AM tonight
 Special cases respond atleast before 1200 hrs IST tomorrow i.e Monday

TO: query@ineuron.ai
CC: sunny@ineuron.ai, riishav@ineuron.ai, boktiar@ineuron.ai
 
Subject: [Bootcamp 2.0 | Assignment No. 1]: 

1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
2. Take input A and B and print their sum, mul, div, square of the nos.
3. How many reserve keywords are there in python and why we should not use them as a variable name.
4. Create email ids with the user inputs. in the following format - 
lastname.firstname@gmail.com
5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.
6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs
7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

 Print statement should be in samll letters and followed by a parenthesis and printing statement should be in single quotes or double quotes. if any code violates this formate puthon throws a syntax error. 
If printing statement contains any single quotes, then we should use the double quotes

In [3]:
print 'Errors in python '

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Errors in python ')? (1134560079.py, line 1)

In [7]:
Print('Errors in python')

NameError: name 'Print' is not defined

In [8]:
print('Errors in python')

Errors in python

In [ ]:
Defining a variable Name.
The rules for variable name are 

1.The variable name should not be any pre-defined python function or any data types.

2.The variable should not start with number or any special charecter (except '_' used for hidden variables).

3.The variables are case sensitive.

4.Variable name should not be as same as reserved words or keywords. since the python doesn't throws any error but it will affect the codes.

In [18]:
#examples
1num= 20
print(1num))

SyntaxError: invalid syntax (3008277113.py, line 2)

In [21]:
# int = 20

In [22]:
$a = 'wrong variable name '

SyntaxError: invalid syntax (3197098377.py, line 1)

2.Take input A and B and print their sum, mul, div, square of the nos.

In [14]:
num1 = int(input('Enter the first number'))
num2 = int(input('Enter the second number'))

summation= num1 + num2 
print(f'The sum of 2 number is {summation}')

sub = num1- num2
print(f'The subtration of 2 numbers is {sub}')

div = num1/num2
print(f'The divsion of 2 numbers is {div}')

square1 = num1*num1
square2 = num2*num2 

print(f'The square of number 1 is {square1}')
print(f'The square of number 2 is {square2}')

Enter the first number50
Enter the second number25
The sum of 2 number is 75
The subtration of 2 numbers is 25
The divsion of 2 numbers is 2.0
The square of number 1 is 2500
The square of number 2 is 625

3 .How many reserve keywords are there in python and why we should not use them as a variable name.

There are 33 keywords or reserve words in python.we should not use as variable since it affect the actual python keywords.

In [24]:
# example
#print = 10 
#print('something')

In [25]:
#int = 23
#num= '23'
#int(num)

4 . Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [1]:
lastn = input('Enter your last name\n')
firstn = input('Enter your first name \n')
print(f"Your suggested email ID is {lastn}.{firstn}@gmail")

Enter your last name
ajjampur
Enter your first name
amogh
Your suggested email ID is ajjampur.amogh@gmail

5. Try to print the following lines -

Hi I'm Sunny

My address is 22\3

I earn 20$ daily.

In [3]:
print('''Try to print the following lines -
Hi I'm Sunny
My address is 22/3
I earn 20$ daily.''')

Try to print the following lines -
Hi I'm Sunny
My address is 22/3
I earn 20$ daily.

6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [9]:
fname= input('Enter your first name')
lname= input('Enter your last name')
date= input('Enter data of birth')
add= input('Enter the address')
print(f''' Student name   - {fname} {lname}
            date of birth - {date} 
            address       -  {add}
            email id   -  {lname}.{fname}@gmail.com ''' )

Enter your first nameAmogh
Enter your last nameajjampur
Enter data of birth17/11/1996
Enter the addressbengaluru
 Student name   - Amogh ajjampur
            date of birth - 17/11/1996
            address       -  bengaluru
            email id   -  ajjampur.Amogh@gmail.com

7. Convert the following -
"22.4" into integer
"22" into complex no.

In [16]:
# Since 22.4 is floating number so we can't convert it to integers
string = '22.4'
print(float(string))

22.4

In [17]:
# convertion of string to complex
a = 22 
complex(a)

(22+0j)